/* General */
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--border)) transparent;
}
* {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body {
  background-color: #d9d2ba; /* Temporary background color */
  background-size: cover;
  background-position: center;
  padding: 1rem 2rem;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li {
  color: #000000;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
ul li {
  list-style: none;
  margin-left: -1.75rem;
}

/* Custom Classes */
/* Headers */
.main-heading {
  font-size: 4.5rem;
  font-family: "the-seasons", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 2.5rem;
}

.subheading {
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  line-height: 2.5rem;
  letter-spacing: 1px;
}

/* Main title styling for large headings */
.display-title {
  font-family: "the-seasons", sans-serif;
  font-weight: 400;
  font-size: clamp(2.5rem, 15vw, 12rem);
  line-height: 1;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

/* Name and Heading */
.text-center-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    gap: 1rem;
    margin-bottom: 4rem;
}
.text-center-section p {
    text-align: center;
    text-transform: uppercase;
}

.project-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 640px) {
  .display-title {
    width: auto;
    font-size: clamp(2.5rem, 7.5vw, 12rem);
  }
  .project-group {
    gap: 1rem; /* Set gap to 1rem for medium devices and up */
  }
}

@media (min-width: 1024px) {
  .display-title {
    font-size: clamp(2.5rem, 9vw, 12rem);
  }
  .project-group {
    gap: 1rem; /* Set gap to 1rem for medium devices and up */
  }
}

@media (min-width: 1280px) {
  .display-title {
    font-size: clamp(2.5rem, 9vw, 12rem);
  }
  .project-group {
    gap: 1rem; /* Set gap to 1rem for medium devices and up */
  }
}